{% extends "base.html" %}

{% block content %}
<h2>About This To-Do App</h2>

<p>
This is a simple Personal To-Do List application built using 
<b>Python, Flask, and Jinja2</b>.
</p>

<p>
It helps you organize your daily tasks by tracking:
</p>

<ul>
    <li>Task Title</li>
    <li>Task Status (Pending, In Progress, Completed)</li>
    <li>Task Priority (High, Medium, Low)</li>
</ul>

<p>
This project is part of Flask homework to understand:
</p>

<ul>
    <li>Flask routing</li>
    <li>Dynamic URLs</li>
    <li>Template inheritance</li>
    <li>Jinja2 loops, filters and conditions</li>
</ul>

<p>
Made by <b>Pratik</b>
</p>

<a href="/">Back to Home</a>

{% endblock %}
