<!DOCTYPE html>
<html>
<head>
   <title>Contact</title>
   <style>
       body {
        font-family : Arial;
        text-align : center;
        background-color: #f4f4f4;
        padding:  50px;         }

       .box {
        background: white;
        padding: 30px;
        width: 400px;
        margin: auto;
        border-radius: 10px;
        box-shadow: 0 0 10px gray;

       }
       
       a {
        display: block;
        margin-top: 15px;
        color: green;
        text-decoration: none;
        font-weight: bold;

       }
   </style>

</head>
<body>

    <div class="box" >
        <h1>Contact Me</h1>
        <p><b>Email :</b>nagarepratik001@gmail.com</p>
        <p><b>Phone:</b>8999******</p>
        <p><b>Linked In </b>Pratiknagare001</p>

        <a href="/">Go to Home</a>
        <a href="/about">About page</a>
       

    </div>

</body>

</html>